body{
    background-color: rgb(11, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
}
#lienzo{
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    margin-top: 90px;

}
#controlMovimiento{
   position: absolute;
   bottom: 30px;
   left: 30%;
   transform: translateX(-50);
}
#controlAvanzar{
   position: fixed;
   bottom: 30px;
   left: 70%;
   transform: translateX(-50);
}
#disparar{
   position: fixed;
   bottom: 30px;
   left: 67%;
   transform: translateX(-50);
}
#reiniciar {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-70%, -50%);
    z-index: 1000;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}
h1{
    color: #fffafa;
    position: fixed;
    top: 0%;
    left: 43%;
    font-family:'Press Start 2P', cursive;
}